@{
    ViewData["Title"] = "Contact information";
}
<h2>@ViewData["Title"]</h2>

<strong>@ViewData["Email"]</strong>
<p></p>
<a href="https://github.com/AlexandreJuniorGit/SalesWebMvc">GitHub Repository</a>

<h3>@ViewData["Message"]</h3>
<p>Project SalesWebMvc.</p>
<p>
    This project allows the visualization of salespeople and their departments, as well as their sales. A CRUD system was also implemented.
    In it we can filter the sales data by date, present the total amount and also for each department.
</p>
<p>Sales data can be filtered using the month 09/2018-10/2018</p>